[dependencies]
# Full path specifying the installation location of Vivado HLS
vhls_install_path = "C:\Xilinx\Vitis_HLS\2023.1\bin\vitis_hls.bat"

# Full path specifying the installation location of Vivado
vivado_install_path = "C:\Xilinx\Vivado\2023.1\bin\vivado.bat" 

# Full path specifying the include folder of the Hint library
hint_install_path = "C:\Users\mgudin27\include\hint\include"

# Full path specifying the include folder of the MArTo library
marto_install_path = "C:\Users\mgudin27\include\marto\include"

# List of C-flags to pass to Vivado"s C/C++ interpreter
cflags = [
    "-std=c++0x" # necessary for the Hint library
]


[generation]
# Maximum number of processes to spawn at a time when generating reports
max_processes = 6

# Datatypes to generate reports for
#   type        list[str]
#   contents    `name` corresponding to {name}.cpp files in ROOT/src.
datatypes = [
    "uint"
]

# Operations to generate reports for
#   type        list[str]
#   contents    `NAME` corresponding to `NAME` macros in the src files
#               which select which implemented operation to generate.
operations = [
    "MUL"
]

# Widths to generate reports for
#   type    str
#   if the string is of the format "{start}-{end}"    
#       Interpreted as "{start}-{end}" where `start` is the
#       first width to generate, `end` is one greater than
#       the last width to generate, and every integer width
#       between these ends is generated.
#       ex: "8-17"
#   if the string is of the format "{1}, {2}, ..."  
#       Only the specified widths are generated
widths = "1-17"

# Part number corresponding to target Xilinx FPGA part to synthesize to
#   default: "xc7s50csga324-1" (Arty S7-50)
#   xc7k160tfbg484-1 (Kintex 7; Uguen et al. 2019)
parts = [
    "xc7k160tfbg484-1"
]

# Clock period to target for synthesis, in nanoseconds
#   default: 10ns
periods = [3]



[visualization]
# Refer to run control comments for usage

datatypes = [
    "uint"
]

operations = [
    "MUL"
]

widths = "1-17"

parts = [
    "xc7k160tfbg484-1"
]

periods = [3]

